.Button {
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
}

.Color {
  margin: 8px;
  width: 120px;
  height: 100px;
  position: relative;
  border-radius: 8px;
  border: solid 1px black;
  transition: background 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.Color::after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 1.2em;
  position: absolute;
  align-items: center;
  justify-content: center;
  content: attr(data-color);
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.Color:hover::after {
  opacity: 1;
}
